{{#partial "content"}}
    <h1>Post list!</h1>

    {{#if posts}} <!--if posts exist, then -->
        {{#each posts}} <!--loop-->
            <p>Current post:</p>
            <p> {{ content }}  <a href="/posts/{{id}}">Read More ...</a> </p>  <!--show-->
        {{/each}}
    {{else}} <!--no posts!-->
    <p>No posts!</p>
    {{/if}}

{{/partial}}
{{> layout.hbs}}
