 {{#block "header"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {{#block "title"}} Blog {{/block}} </title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/css/main.css">
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/">See all posts</a></li>
        <li role="presentation"><a href="/posts/new">Add a New Post</a> </li>
    </ul>
{{/block}}
    <div class="container">
        <div class="page-header">
            <img src="/images/caspar-rubin-224229.jpg" width="70%">
            <h1>Welcome to my Epicodus Blog. <small>A journey into code!</small></h1>
        </div>
        <div class="col-md-12">
<!--begin main template-->
        {{#block "content"}}

        {{/block}}
        </div>
    </div>
<!--end main template-->
{{#block "footer"}}
    <footer class="footer">
        <div class="container">
            <p class="text-muted"><a href="/posts/delete">DELETE ALL POSTS</a></p>
        </div>
    </footer>
</body>
</html>
{{/block}}

