{{#partial "content"}}

    {{#if editPost}}
        <h1>Edit this Post!</h1>
        <form action="/posts/{{editPost.id}}/update" method="post">
            <label for="content">Edit this post's content</label>
            <input id="content" name="content" type="text" value="{{editPost.content}}">
    {{else}}
            <h1>Add a new Post!</h1>

        <form action="/posts/new" method="post">
            <label for="content">Post Content</label>
            <input id="content" name="content" type="text">
    {{/if}}

        <button type="submit" class="btn btn-default">Save!</button>
    </form>
{{/partial}}

{{> layout.hbs}}
